@import '../../../styles/spacings';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-top: $x5;
  margin-bottom: $x3;
}

.errorCodes {
  margin-top: $x2;
}
