.aiPill {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: var(--a1100);
  color: var(--a1-500);
  gap: 5px;
  padding: 2px 12px;
  height: fit-content;
}
