@import 'src/styles/spacings';

.tabs-container {
  position: relative;

   > div > div {
     gap: $x0_25;
   }

  :global(.MuiTabs-scrollableX) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}