@import '../../../styles/spacings';

.AcceptModal-container {

  .modal-header {
    border-top-left-radius: $x1;
    border-top-right-radius: $x1;
  }
  .modal-footer {
    box-shadow: inset 0 $x0_125 0 var(--fn-divider-gl);

  }
}
