@import "@styles/spacings";
@import "@styles/media-mixins";

:root {
  --lp-hero-dynamic-gradient-primary: var(--p500);
  --lp-hero-dynamic-gradient-color1-hueShift: 89;
  --lp-hero-dynamic-gradient-color2-hueShift: 21;
  --lp-hero-dynamic-gradient-color3-hueShift: 108;

  --lp-hero-dynamic-gradient-color1: oklch(from var(--lp-hero-dynamic-gradient-primary) 0.825 0.127 calc(h - var(--lp-hero-dynamic-gradient-color1-hueShift)));
  --lp-hero-dynamic-gradient-color1-60: oklch(from var(--lp-hero-dynamic-gradient-primary) 0.825 0.127 calc(h - var(--lp-hero-dynamic-gradient-color1-hueShift)) / 0.60);
  --lp-hero-dynamic-gradient-color1-40: oklch(from var(--lp-hero-dynamic-gradient-primary) 0.825 0.127 calc(h - var(--lp-hero-dynamic-gradient-color1-hueShift)) / 0.40);
  --lp-hero-dynamic-gradient-color1-30: oklch(from var(--lp-hero-dynamic-gradient-primary) 0.825 0.127 calc(h - var(--lp-hero-dynamic-gradient-color1-hueShiftt)) / 0.30);
  --lp-hero-dynamic-gradient-color1-0: oklch(from var(--lp-hero-dynamic-gradient-primary) 0.825 0.127 calc(h - var(--lp-hero-dynamic-gradient-color1-hueShift)) / 0);
  --lp-hero-dynamic-gradient-color2: oklch(from var(--lp-hero-dynamic-gradient-primary) 0.371 0.255 calc(h + var(--lp-hero-dynamic-gradient-color2-hueShift)));
  --lp-hero-dynamic-gradient-color2-0: oklch(from var(--lp-hero-dynamic-gradient-primary) 0.371 0.255 calc(h + var(--lp-hero-dynamic-gradient-color2-hueShift)) / 0);
  --lp-hero-dynamic-gradient-color3: oklch(from var(--lp-hero-dynamic-gradient-primary) 0.519 0.264 calc(h + var(--lp-hero-dynamic-gradient-color3-hueShift)));
  --lp-hero-dynamic-gradient-color3-0: oklch(from var(--lp-hero-dynamic-gradient-primary) 0.519 0.264 calc(h + var(--lp-hero-dynamic-gradient-color3-hueShift)) / 0);
}

.functionalBg {
  background-color: var(--fn-bg);
}

.transparent {
  background-color: transparent;
}

.gradientRc {
  position: relative;
  overflow: hidden;

  > :not(.gradientRcSvg) {
    position: relative;
    z-index: 1;
  }
}

.gradientRcSvg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.gradientBgVarTop {
  background: linear-gradient(180deg, var(--fn-bg) 0%, var(--fn-bg-var) 18.27%);
}

.gradientBgVarBottom {
  background: linear-gradient(180deg, var(--fn-bg-var) 84.25%, var(--fn-bg) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  gap: $x3;

  &.defaultPadding {
    padding: $x3 $x8;

    @include media("<desktop") {
      padding-left: $x4;
      padding-right: $x4;
    }

    @include media("<tablet") {
      padding-left: $x3;
      padding-right: $x3;
    }
  }

  &.frostedGlass {

    &.defaultPadding {
      padding: $x6 $x8;

      @include media("<desktop") {
        padding: $x4;
      }

      @include media("<tablet") {
        padding: $x3;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  gap: $x3;

  @include media("<tablet") {
    flex-direction: column;
    gap: $x2;
  }
}

.roundedTop {
  border-top-left-radius: $x1;
  border-top-right-radius: $x1;

  &.defaultPadding {
    padding-top: $x6;
  }

  &.frostedGlass {
    border-top: 0;
    border-top-left-radius: $x4;
    border-top-right-radius: $x4;
  }

  @include media("<mobile") {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.roundedBottom {
  border-bottom-left-radius: $x1;
  border-bottom-right-radius: $x1;

  &.defaultPadding {
    padding-bottom: $x6;
  }

  &.frostedGlass {
    border-bottom: 0;
    border-bottom-left-radius: $x4;
    border-bottom-right-radius: $x4;
  }

  @include media("<mobile") {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}