@import '@styles/spacings';

.SlideCarouselContainer {
  width: 100%;

  .carousel-main {
    position: relative;
    width: 100%;
  }
  .carousel-main-outside-arrows {
    display: flex;
    align-items: stretch;
    gap: $x2;
  }

  .slide-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .slide-carousel-arrow {
    top: 40%;
    position: absolute;
    z-index: 1;

    &.arrow-left {
      left: $x5;
    }
    &.arrow-right {
      right: $x5
    }
  }

  .slide-carousel-bullets {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: $x2 0;
  }

  .slide-carousel-viewport {
    width: 100%;
    overflow: hidden;
  }
  .slide-carousel-track {
    display: flex;
    align-items: stretch;
    width: 100%;
    will-change: transform;
    touch-action: none;
  }
  .slide-carousel-slide {
    user-select: none;
    min-width: 0;
  }
}