.competitor-map-marker-container {

  .headline {
    line-height: 16px;
    display: block;
    font-size: 13px;
  }

  .rating {
    vertical-align: "top";

    .score {
      position: relative;
      display: inline-block;
      border: 2px solid transparent;
      box-sizing: border-box;
      color: var(--fn-fg-light);
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
    }

    .count {
      position: relative;
      display: inline-block;
      border: 2px solid transparent;
      box-sizing: border-box;
      color: var(--fn-fg-light);
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

